#headeText{
    -fx-font-size: 60;
}

.label{
    -fx-font-size: 20;
    -fx-font-family: "JetBrains Mono";
    -fx-text-fill: "white";
    -fx-alignment: center;
}

.root{
    -fx-background-color: #111111;
}

